* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

nav {
  border: 2px solid green;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: gray;
  /* > ul {
      border: 2px solid blue;
      display: flex;
      > li {
          border: 2px solid red;
          list-style-type: none;
          margin: 0 10px;
          > a {
              text-decoration: none;
              color: white;
              transition: all 0.3s ease-in-out;
              &:hover {
                  color: blue;
              }
          }
      }
  } */
}

.logoDiv {
  border: 2px solid yellow;
  > img {
    height: 100px;
  }
}

.containerDataPanelDiv {
  margin: 1rem;
  border: 2px solid pink;
  display: flex;
}

.divDataPanel {
  border: 2px solid yellow;
  padding: 1rem;
}

.contentContainer {
  border: 2px solid blue;
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.lastEntityDiv {
  /* border: 20px solid pink; */
  /* padding: 1rem; */
  width: 60%;
  > section {
    border: 8px solid olivedrab;
  }
}

.containerCategoriesDiv {
  border: 2px solid purple;
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.categoryDiv {
  border: 1px solid burlywood;
  padding: 0.5rem;
  margin: 0.5rem;
}


/* LAST ENTITY */
#lastProductDetails, #lastUserDetails, #lastCategoryDetails {
  border: 2px solid purple;
  margin: 0.5rem;
  padding: 0.5rem;
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  /* grid-template-rows: repeat(3, auto); */

  > p {
    /* border: 2px solid red; */
    padding: 0.5rem;
  }

  > p:nth-child(1) {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 5px double blue;
    margin-bottom: 1rem;
  }

  > p:nth-child(2n) {
    color: rgb(114, 113, 113);
  }
}

#lastUserDetails {
  > p:nth-child(1) {
    border-bottom: 5px double purple;
  }
}

#lastCategoryDetails {

  > p:nth-child(1) {
    border-bottom: 5px double green;
  }
}